@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");

body{
    margin: 0;
    min-height: 100vh;
    text-align: -webkit-center;
    text-align: -moz-center;
}
header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;    
    background: rgba(0, 63, 112, 0.84);
}
.header2{
    position: absolute;
    top: 100px;
    left: 0px;    
    height: 25px;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.69) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.7);
}
.header3{
    position: absolute;
    top: 125px;
    left: 0px;    
    height: 25px;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.69) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.7);
}
main{
    
    width: 100%;
    min-height: calc( 100vh - 116px);
    padding-top: 150px;
    /* background: url(/img/main.png); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}
.main{
    background: rgba(0,63,112,.7);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.main2{
    background: rgba(0,63,112,.7);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
footer{
    /* position: absolute; */
    width: 100%;    
    height: 116px;
    background: #003F70;
    /* bottom: 0; */
}

iframe{
    
    min-height: 254px;
   /* height: calc(100vh - 266px);*/
    width: 100%;
}

/* CLASES */
.contacto{
    background: rgba(255, 255, 255, 0.68);
border-radius: 5px;
width: 186px;
height: 39px;
}

.contacto .icon{
    background: rgba(255, 255, 255, 0.68);
border-radius: 5px 0px 0px 5px;
width: 41px;
height: 100%;
}
.contenedoresdebotonesblancos{
margin-bottom: 10px;
}
.contenedoresdebotonesblancos button,.contenedoresdebotonesblancos a{
    color: white;
}
.contenedoresdebotonesblancos button:hover, .contenedoresdebotonesblancos a:hover{
    color: red;
}


.header2 a{
    padding: 7px;
font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 18px;
color: #003F70;
}
.header3 a{
    padding: 7px;
font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 18px;
color: #003F70;
}

footer a{
    color: white;
}

.dropdown-menu a{
    color: #003F70;
}
.dropdown-menu a:hover{
    color: black;
}

.blissey-widget_type--compact{
width:100%;
}
/* RESOLUCIONES */

@media screen and (max-width: 992px) {

    .header2 a{
    padding: 5px;
    font-size: 8px;
    
    }
    .header3 a{
        padding: 5px;
        font-size: 8px;
        
        }

}
  

@media screen and (max-width: 576px) {
    header{
        font-size: 10px;
    }
    footer a{
        font-size: 12px;
    }
    .contacto{
        width: 136px;;
    }
    .contenedoresdebotonesblancos button, .contenedoresdebotonesblancos a{
        font-size: 10px;
    }
    .header2 a{
        padding: 5px;
    font-size: 6px;
    line-height: 1.5;
    }
    .header3 a{
        padding: 5px;
    font-size: 6px;
    line-height: 1.5;
    }

}

@media screen and (min-width: 768px) {

    iframe {
        min-width: 696px;
    }

}
